* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
header {
  display: flex;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.fa-brands {
  font-size: 30px;
  color: #d26800;
}
.navbar ul {
  display: flex;
  height: 100%;
  align-items: center;
}
.navbar {
  display: flex;
  align-items: center;
}
.navbar ul li {
  list-style: none;
  display: block;
  position: relative;
  margin: 0 45px;
  display: flex;
  align-items: center;
  font-family: "Oswald", sans-serif;
}
.some-container ul li {
  margin: 0 25px;
}

.navbar ul li a {
  color: black;
}

.hovereffekt li::after {
  content: "";
  height: 3px;
  width: 0%;
  background: #d26800;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.hovereffekt li:hover::after {
  width: 100%;
}

/*ændre height på border når vi ændre navbar*/
.some-container {
  height: 154px;
  border-left: 0px solid black;
  display: flex;
  margin-right: 15px;
}
.logo-wrap img {
  height: 150px;
  width: 150px;
}

.some-logo {
  height: 50px;
}
.bookbord {
  color: #d26800;
  border-radius: 16px;
  border: 3px solid rgb(156, 156, 156);
  padding: 5px 40px;
  font-size: 25px;
  cursor: pointer;
}
.booking-knap {
  padding-top: 30px;
}
.tilmeld-knap {
  padding-top: 25px;
}
.tilmeld-knap a {
  color: white;
  border: 2px solid white;
  border-radius: 12px;
  padding: 5px 40px;
  font-size: 25px;
}
.tekst {
  width: 60%;
}
.tekst-section-1 {
  padding-top: 200px;
}
.tekst-section-5 p,
.tekst-section-4 p,
.tekst-section-3 p {
  padding: 20px 0;
}
.tekst-section-3 {
  margin-top: 120px;
}
.pad-forside {
  padding: 40px 0;
}
.tekst h1 {
  font-size: 70px;
}
.tekst h3 {
  font-size: 70px;
  color: #d26800;
  font-family: "Kanit", sans-serif;
}
.tekst p {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
}
.tekst h4 {
  font-size: 40px;
}
.tekst hr {
  width: 15%;
  margin: auto;
}
.tekst-section-1 hr {
  width: 20%;
  margin: auto;
}
.tekst-section-2 p {
  line-height: 3.7rem;
  padding-top: 40px;
}
.tekst-section-2 {
  padding-top: 150px;
}
.tekst-section-2 h4 {
  padding-top: 40px;
  text-decoration: underline;
}
.tekst-section-2 a {
  color: white;
  cursor: pointer;
}
.site-wrapper {
  overflow-y: auto;
  height: 100vh;
  width: 100%;
  scroll-snap-type: y mandatory;
}
.section {
  height: 100vh;
  scroll-snap-align: start;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 70px;
  width: auto;
  background-size: 100%;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.section-1 {
  background-image: url(/img/vin-og-mad-desktop.webp);
}
.section-2 {
  background-image: url(/img/vinrum-desktop.webp);
}
.section-3 {
  background-image: url(/img/mad-desktop.webp);
}
.section-4 {
  background-image: url(/img/event-desktop.webp);
}
.section-5 {
  background-image: url(/img/manifest-1-desktop.webp),
    url(/img/manifest-2-desktop.webp);
  background-position: right bottom, left bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 50%;
}
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*Naturvin Side*/

.naturvin-billede {
  background-image: url(/img/vin\ baggrund.jpg);
  height: 100vh;
  background-position: center;
  background-size: 100%;
  background-position-y: 10px;
  background-repeat: no-repeat;
  scroll-snap-align: start;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: #d26800;
}

.naturvin-h1 {
  margin-top: 15%;
  font-family: "Kanit", sans-serif;
  font-size: 70px;
}

.infographic-natur {
  background-image: url(/img/infographic-ny.webp);
  background-position: center;
  background-repeat: no-repeat;
  scroll-snap-align: start;
  background-attachment: fixed;
  background-color: white;
  height: 100vh;
  background-position-y: 150px;
  background-size: 85%;
}

.site-wrapper-natur {
  overflow-y: auto;
  height: 100vh;
  width: 100%;
  scroll-snap-type: y mandatory;
}
.arrow::before {
  animation: bounce 1s ease infinite;
  bottom: 2rem;
  color: #fff;
  content: "╲╱";
  font-size: 1rem;
  height: 4rem;
  left: 50%;
  letter-spacing: -1px;
  line-height: 4rem;
  margin-left: -3rem;
  opacity: 0.8;
  text-align: center;
  width: 6rem;
  position: absolute;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

@media only screen and (max-width: 1830px) {
  .section {
    background-size: cover;
  }
}
@media only screen and (max-width: 1165px), screen and (max-height: 945px) {
  .section-3 p {
    padding: 7px;
  }
  .section-2 p {
    line-height: 2rem;
  }
}

@media only screen and (max-width: 1025px) {
  .tekst p {
    font-size: 25px;
  }
  .navbar ul li {
    margin: 0 25px;
  }
}

@media only screen and (max-width: 820px) {
  .hamburger {
    display: block;
    margin-right: 20px;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 100px;
    flex-direction: column;
    background-color: white;
    opacity: 80%;
    width: 100%;
    text-align: center;
  }
  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    right: 0;
    height: 160px;
  }
  .nav-menu.active li {
    padding: 4px 0;
  }
  .some-container {
    display: flex;
  }
  .hovereffekt li:hover::after {
    display: none;
  }
  .logo-wrap img {
    width: 100px;
    height: 100px;
  }
  .some-container {
    height: 100px;
  }
  .tekst-section-2 p {
    line-height: 3rem;
  }
  .tekst-section-5 p {
    line-height: 3rem;
  }
}

@media only screen and (max-width: 715px) {
  .tekst-section-3 p {
    font-size: 23px;
  }
  .tekst-section-2 p {
    line-height: 2rem;
  }
}
@media only screen and (max-width: 650px) {
  .tekst-section-2 h4 {
    font-size: 30px;
  }
  .tekst-section-3 p {
    padding: 15px 0;
  }
  .tekst p {
    font-size: 20px;
  }
  .tekst-section-1 h1 {
    font-size: 55px;
  }
  .tekst {
    width: 80%;
  }
}
@media only screen and (max-width: 500px) {
  .tekst-section-3 p {
    padding: 7px 0;
    font-size: 17px;
  }
  .tekst-section-2 h4 {
    padding: 10px 0;
  }
  .tekst-section-2 p {
    padding: 10px 0;
  }
  .tekst-section-5 p {
    padding: 10px 0;
    line-height: 2.5rem;
  }
}
@media only screen and (max-width: 385px) {
  .tekst-section-1 h1 {
    font-size: 40px;
  }
  .tekst h3 {
    font-size: 35px;
  }
  .tekst-section-5 p {
    line-height: 2rem;
  }
  .tekst-section-2 h4 {
    font-size: 23px;
  }
  .tekst-section-2 p {
    line-height: 1.7rem;
  }
  .tekst-section-2 {
    padding-top: 25px;
  }
  .tekst-section-4 p {
    padding: 7px 0;
  }
}
