* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
header {
  display: flex;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  display: flex;
  height: 100%;
  align-items: center;
}
.navbar {
  display: flex;
  align-items: center;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  display: flex;
  align-items: center;
  font-family: "Oswald", sans-serif;
}
.navbar ul li a {
  color: black;
}
.hovereffekt li::after {
  content: "";
  height: 3px;
  width: 0%;
  background: #da4703;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.hovereffekt li:hover::after {
  width: 100%;
}

/*ændre height på border når vi ændre navbar*/
.some-container {
  height: 154px;
  border-left: 2px solid black;
  display: flex;
}
.logo-wrap img {
  height: 150px;
}

.some-logo {
  height: 50px;
}
.tekst-section-1 {
  padding-top: 200px;
}
.tekst h1 {
  font-size: 70px;
}
.tekst p {
  font-size: 30px;
}

hr {
  width: 70%;
  margin: auto;
}

.main-wrapper {
  overflow-y: auto;
  height: 100vh;
  width: 100%;
  scroll-snap-type: y mandatory;
}
.section {
  height: 100vh;
  scroll-snap-align: start;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 70px;
  width: auto;
  background-size: 100%;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Oswald", sans-serif;
  text-align: center;
}
.booking-knap button {
  color: orange;
  background-color: transparent;
  border-radius: 15px;
  border: 2px solid grey;
  width: 140px;
  height: 30px;
  cursor: pointer;
}
.section-1 {
  background-image: url(/img/vin-og-mad-desktop.webp);
}
.section-2 {
  background-image: url(/img/vinrum-desktop.webp);
}
.section-3 {
  background-image: url(/img/mad-desktop.webp);
}
.section-4 {
  background-image: url(/img/event-desktop.webp);
}
.section-5 {
  background-image: url(/img/manifest-1-desktop.webp),
    url(/img/manifest-2-desktop.webp);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  background-size: 50%;
}
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
